---
const { title, variant } = Astro.props;
---

<button class={variant}>{title}</button>

<style>
    button {
        background-color: var(--cta-primary);
        color: var(--color-text-primary);
        border: none;
        border-radius: 4px;
        padding: 16px 24px;
        font-size: 0.9rem;
        font-weight: bold;
        cursor: pointer;

    }
</style>