---
---

<section class="hero">
    <h1>Dit højskoleeventyr <br> starter her</h1>
    <p>HØJSKOLENDK er en dansk højskole for unge i alderen <strong>18-26 år</strong>. <br>Vi brænder for oplevelser, fællesskabet og det gode eventyr.</p>
    </section>