---
const meetings = [
  { date: "06 Januar 2026", time: "Kl. 18.30 – 20.00" },
  { date: "03 Februar 2026", time: "Kl. 18.30 – 20.00" },
  { date: "17 Marts 2026", time: "Kl. 18.30 – 20.00" },
  { date: "14 April 2026", time: "Kl. 18.30 – 20.00" },
  { date: "05 Maj 2026", time: "Kl. 18.30 – 20.00" },
  { date: "09 Juni 2026", time: "Kl. 18.30 – 20.00" }
];
---

<section class="wrapper">
  <div class="grid">
    
    <!-- Venstre billede -->
    <div class="image">
      <!-- skift src til dit eget billede -->
      <img src="/images/bus.webp" alt="Bus med børn" />
      <!---SVG OVERLAY -->
        <!-- <svg class="badge" width="169" height="169" viewBox="0 0 169 169" fill="none" xmlns="http://www.w3.org/2000/svg">
<rect width="169" height="169" rx="84.5" fill="url(#paint0_linear_1438_380)"/>
<path d="M59.9897 145.012C60.579 143.244 61.169 141.333 61.7597 139.28C62.3504 137.228 62.8658 135.298 63.3058 133.491L67.0649 134.455L65.8225 138.772L71.7091 140.281L72.9514 135.965L76.7105 136.929C76.0345 138.959 75.4392 140.869 74.9246 142.657C74.41 144.445 73.8999 146.376 73.3945 148.45L69.6354 147.486L70.8778 143.169L64.9912 141.66L63.7488 145.976L59.9897 145.012Z" fill="white"/>
<path d="M43.4533 135.359L45.0853 134.929C45.0042 133.776 45.3701 132.551 46.1831 131.254C47.2417 129.566 48.5748 128.547 50.1822 128.199C51.7895 127.85 53.7081 128.298 55.9378 129.544C57.0142 130.146 57.8714 130.776 58.5095 131.435L59.298 131.233L61.6511 134.248L60.1205 134.64C60.2226 135.843 59.8584 137.107 59.0278 138.431C57.9867 140.091 56.6595 141.1 55.0463 141.458C53.4234 141.811 51.5068 141.37 49.2963 140.135C48.1815 139.512 47.2964 138.854 46.6412 138.16L45.8064 138.374L43.4533 135.359ZM55.6112 136.522C55.7691 136.27 55.9059 136 56.0216 135.712L50.7633 137.082C50.8247 137.129 50.9323 137.195 51.0861 137.281C52.1433 137.872 53.0331 138.098 53.7555 137.96C54.4779 137.822 55.0965 137.343 55.6112 136.522ZM49.5997 133.163C49.4418 133.415 49.3235 133.645 49.245 133.853L54.3642 132.519L54.148 132.398C53.0812 131.802 52.1895 131.568 51.4729 131.697C50.7505 131.835 50.1261 132.324 49.5997 133.163Z" fill="white"/>
<path d="M30.2493 124.467L34.5423 120.523C36.0584 119.13 37.6011 118.437 39.1703 118.443C40.7235 118.449 42.3259 119.253 43.9775 120.855C44.9258 121.775 45.6611 122.756 46.1834 123.799C46.6978 124.833 47.0402 125.862 47.2104 126.885C46.5576 127.201 45.9527 127.525 45.3958 127.858C44.8388 128.19 44.261 128.587 43.6622 129.047C43.5212 127.64 43.2366 126.483 42.8085 125.578C42.3805 124.673 41.8543 123.917 41.23 123.312C40.582 122.683 39.9697 122.373 39.3931 122.38C38.8165 122.387 38.1594 122.722 37.4219 123.385L36.4976 124.234C35.1842 125.441 34.109 126.495 33.2721 127.399L30.2493 124.467Z" fill="white"/>
<path d="M37.1775 116.433C36.4898 116.377 35.8701 116.358 35.3183 116.378C34.7608 116.389 34.141 116.445 33.4589 116.548C33.4557 115.664 33.3 114.719 32.9919 113.712C32.6838 112.705 32.3007 111.819 31.8427 111.054C31.3734 110.27 30.9746 109.754 30.6464 109.505C30.3084 109.261 30.0568 109.184 29.8917 109.272C29.2992 109.588 29.5288 110.624 30.5805 112.381C31.734 114.308 32.3669 115.815 32.4791 116.902C32.5817 117.994 32.1715 118.786 31.2487 119.278C29.9373 119.977 28.6541 119.964 27.3991 119.237C26.1441 118.511 25.0106 117.302 23.9984 115.612C23.4103 114.629 22.9393 113.553 22.5852 112.384C22.2158 111.21 22.0057 110.088 21.9549 109.019C22.76 108.951 23.7144 108.822 24.8182 108.632C25.0464 108.585 25.2204 108.554 25.3401 108.54C25.2302 109.235 25.3354 110.138 25.6555 111.251C25.9659 112.369 26.3445 113.301 26.7912 114.047C27.3284 114.945 27.7534 115.516 28.0663 115.76C28.3695 116.009 28.6376 116.072 28.8708 115.948C29.1039 115.823 29.1661 115.51 29.0573 115.007C28.9332 114.5 28.628 113.84 28.1417 113.028C26.943 111.025 26.3102 109.444 26.2433 108.283C26.1667 107.127 26.6141 106.291 27.5855 105.773C28.9455 105.047 30.215 105.006 31.394 105.648C32.5633 106.295 33.7332 107.597 34.9037 109.552C35.5313 110.601 36.0537 111.73 36.4709 112.941C36.8783 114.157 37.1138 115.321 37.1775 116.433Z" fill="white"/>
<path d="M28.7697 94.9481C27.9967 95.6684 26.8321 96.8351 25.276 98.448L27.6461 99.8592L29.9568 99.2973L31.0395 103.264C28.941 103.684 26.9878 104.114 25.1799 104.553C23.3721 104.993 21.4421 105.508 19.39 106.097L18.3073 102.13L23.0088 100.987C20.5285 99.5062 18.5816 98.496 17.1681 97.9564L15.7592 92.7947L22.1353 96.5955C22.9807 95.5971 23.8925 94.4863 24.8705 93.2632C25.8456 92.0294 26.6902 90.9236 27.4044 89.9458L28.7697 94.9481Z" fill="white"/>
<path d="M27.7033 82.0197C27.6577 84.5404 27.0794 86.3864 25.9681 87.5576C24.8459 88.7287 23.2941 89.2983 21.3127 89.2664C19.3533 89.2349 17.8338 88.6214 16.7543 87.4259C15.675 86.2194 15.1582 84.3503 15.2039 81.8186C15.2499 79.2759 15.8338 77.4245 16.9559 76.2644C18.0781 75.0933 19.619 74.5235 21.5783 74.555C23.5707 74.5871 25.1012 75.2008 26.1697 76.3961C27.2382 77.5915 27.7494 79.466 27.7033 82.0197ZM24.3349 81.9655C24.357 80.7437 24.1417 79.8594 23.6891 79.3126C23.2255 78.7656 22.4984 78.4841 21.5077 78.4682C20.539 78.4526 19.8131 78.7107 19.33 79.2424C18.847 79.7742 18.5944 80.651 18.5723 81.8728C18.5505 83.0836 18.7713 83.9625 19.2349 84.5095C19.6985 85.0564 20.4146 85.3377 21.3833 85.3533C22.363 85.3691 23.0944 85.1111 23.5775 84.5793C24.0606 84.0476 24.313 83.1763 24.3349 81.9655Z" fill="white"/>
<path d="M26.0958 69.5526C26.9799 66.4853 27.6759 63.9376 28.1839 61.9092C28.6862 62.1895 29.1829 62.4114 29.6739 62.5749C30.1649 62.7384 30.767 62.9141 31.4803 63.1021L28.179 74.2664C26.1386 73.6378 24.2189 73.0865 22.4197 72.6125C20.6206 72.1384 18.6759 71.6716 16.5856 71.2119L17.7282 67.3479L26.0958 69.5526Z" fill="white"/>
<path d="M31.4868 57.3623C33.6123 53.7602 35.1139 51.1277 35.9917 49.4649C36.3506 49.743 36.7383 50.0054 37.1546 50.2518C37.5669 50.4836 38.0938 50.7702 38.7352 51.1115L32.1565 62.1279C30.3161 61.049 28.5747 60.0726 26.9322 59.1986C25.2897 58.3246 23.5031 57.4238 21.5725 56.4962L28.1512 45.4799L30.7899 46.8839L26.2094 54.5542L27.6089 55.2989C27.8896 54.8504 28.2952 54.1819 28.8258 53.2934C29.7233 51.7905 30.6226 50.2201 31.5239 48.5823L34.0314 49.9165C33.0135 51.4923 32.0558 53.0316 31.1583 54.5345C30.6277 55.423 30.2318 56.0967 29.9706 56.5556L31.4868 57.3623Z" fill="white"/>
<path d="M40.6016 32.9085C41.9209 34.2164 43.3653 35.5865 44.9348 37.0187C46.5125 38.4583 48.0162 39.7782 49.4457 40.9784L45.2159 45.1088L35.6961 41.8233L42.5693 47.6931L39.5328 50.6582C38.0181 49.157 36.5736 47.7794 35.1992 46.5254C33.8329 45.2787 32.3294 43.9663 30.6887 42.5883L35.0367 38.3426L44.7512 41.7834L37.7069 35.7352L40.6016 32.9085Z" fill="white"/>
<path d="M48.3639 27.9877C50.1627 26.9641 51.7199 26.3689 53.0355 26.2022C54.3451 26.0262 55.4456 26.197 56.3371 26.7144C57.2321 27.2171 58.0263 28.0112 58.7196 29.0968C59.3774 30.1267 59.713 31.1628 59.7264 32.2051C59.7398 33.2475 59.4044 34.2543 58.7201 35.2256C58.03 36.1876 56.9864 37.0661 55.5894 37.8611C54.7378 38.3457 53.8718 38.8385 52.9915 39.3394C52.1112 39.8403 51.2184 40.3421 50.3131 40.8446C49.2222 38.9732 48.1731 37.2489 47.1657 35.6715C46.1465 34.0757 45.0446 32.432 43.8599 30.7405C44.9393 29.9997 46.4406 29.0822 48.3639 27.9877ZM54.2224 34.8628C55.1123 34.3564 55.5722 33.8101 55.6021 33.2238C55.6321 32.6374 55.413 31.9778 54.9449 31.2448C54.4945 30.5396 53.9722 30.0589 53.378 29.8025C52.7933 29.5406 52.0703 29.6547 51.2092 30.1448C50.281 30.6729 49.6051 31.0955 49.1814 31.4125L52.1413 36.0471L54.2224 34.8628Z" fill="white"/>
<path d="M71.3837 31.8038C70.6094 31.0463 69.3604 29.9054 67.6364 28.3813L66.3365 30.7231L67.0359 32.9959L63.0703 34.0832C62.5271 32.0185 61.9819 30.0971 61.4347 28.3188C60.8875 26.5406 60.2573 24.6424 59.5442 22.6244L63.5098 21.5371L64.9329 26.1617C66.2972 23.711 67.2137 21.7881 67.6824 20.3931L72.8425 18.9783L69.3411 25.2782C70.4016 26.1056 71.5799 26.9977 72.876 27.9545C74.1827 28.9084 75.3522 29.7345 76.3845 30.4327L71.3837 31.8038Z" fill="white"/>
<path d="M103.411 22.9114C102.891 24.7015 102.377 26.6336 101.866 28.7075C101.356 30.7815 100.917 32.7302 100.548 34.5535L96.7583 33.7168L97.831 29.355L91.8969 28.0447L90.8242 32.4064L87.0347 31.5697C87.6308 29.5147 88.151 27.5838 88.5953 25.7771C89.0396 23.9704 89.4738 22.0206 89.8979 19.9276L93.6874 20.7643L92.6146 25.1261L98.5488 26.4364L99.6215 22.0747L103.411 22.9114Z" fill="white"/>
<path d="M120.208 32.004L118.597 32.4913C118.722 33.6443 118.403 34.8844 117.642 36.2117C116.65 37.94 115.359 39.0069 113.769 39.4125C112.18 39.8181 110.25 39.4357 107.98 38.2654C106.884 37.7005 106.005 37.0991 105.344 36.4613L104.566 36.6911L102.106 33.7525L103.617 33.3066C103.47 32.1047 103.785 30.8258 104.563 29.4699C105.538 27.7703 106.824 26.7129 108.419 26.2978C110.023 25.8877 111.951 26.2628 114.202 27.423C115.337 28.0081 116.244 28.6367 116.924 29.3087L117.748 29.0654L120.208 32.004ZM108.042 31.2632C107.894 31.521 107.768 31.7962 107.663 32.0888L112.855 30.5332C112.792 30.4883 112.682 30.4256 112.525 30.3448C111.449 29.79 110.553 29.5942 109.838 29.7577C109.123 29.9211 108.524 30.4229 108.042 31.2632ZM114.163 34.4184C114.311 34.1606 114.42 33.9261 114.49 33.715L109.436 35.2301L109.657 35.3435C110.743 35.9035 111.641 36.1065 112.35 35.9526C113.065 35.7892 113.67 35.2778 114.163 34.4184Z" fill="white"/>
<path d="M133.733 42.4273L129.595 46.5327C128.133 47.9826 126.62 48.7329 125.055 48.7836C123.505 48.8339 121.878 48.0868 120.173 46.5422C119.193 45.6553 118.424 44.6993 117.866 43.6741C117.315 42.6563 116.936 41.6384 116.729 40.6203C117.369 40.28 117.96 39.9333 118.504 39.58C119.047 39.2267 119.609 38.8087 120.19 38.3258C120.381 39.7305 120.707 40.8785 121.167 41.7695C121.627 42.6606 122.179 43.3981 122.824 43.9819C123.493 44.5879 124.115 44.8769 124.689 44.8486C125.264 44.8204 125.907 44.4611 126.619 43.7707L127.51 42.8868C128.776 41.6308 129.81 40.5353 130.612 39.6004L133.733 42.4273Z" fill="white"/>
<path d="M127.093 50.7147C127.782 50.7464 128.401 50.7421 128.951 50.7017C129.508 50.6706 130.125 50.5914 130.802 50.4643C130.837 51.3474 131.026 52.2869 131.37 53.2829C131.714 54.2788 132.128 55.1511 132.613 55.8995C133.11 56.6665 133.526 57.1683 133.863 57.4049C134.209 57.636 134.463 57.7045 134.625 57.6103C135.205 57.2725 134.939 56.2442 133.826 54.5255C132.605 52.6405 131.919 51.1567 131.768 50.074C131.626 48.9857 132.008 48.1785 132.911 47.6524C134.196 46.9048 135.478 46.8712 136.757 47.5517C138.036 48.2321 139.212 49.3994 140.283 51.0534C140.905 52.0144 141.414 53.0732 141.81 54.2299C142.221 55.3904 142.471 56.5045 142.56 57.5724C141.758 57.67 140.81 57.834 139.714 58.0644C139.488 58.1197 139.315 58.1566 139.196 58.175C139.281 57.4767 139.144 56.5769 138.784 55.4756C138.434 54.3688 138.023 53.4504 137.55 52.7204C136.982 51.8426 136.537 51.2872 136.215 51.0543C135.904 50.8158 135.634 50.763 135.405 50.8959C135.177 51.0288 135.126 51.3447 135.253 51.8436C135.395 52.3462 135.723 52.9948 136.238 53.7895C137.507 55.7484 138.195 57.3071 138.304 58.4656C138.421 59.6185 138.005 60.4718 137.053 61.0256C135.721 61.801 134.455 61.8891 133.255 61.2899C132.064 60.6852 130.849 59.4265 129.61 57.5138C128.946 56.4881 128.383 55.3775 127.924 54.1819C127.473 52.9809 127.196 51.8251 127.093 50.7147Z" fill="white"/>
<path d="M136.265 71.8708C137.011 71.1236 138.132 69.9164 139.629 68.2494L137.208 66.9243L134.918 67.5684L133.69 63.6442C135.772 63.1498 137.709 62.6506 139.5 62.1467C141.291 61.6427 143.201 61.0595 145.231 60.397L146.459 64.3212L141.802 65.6317C144.335 67.0222 146.319 67.9618 147.752 68.4503L149.35 73.5565L142.836 69.9876C142.028 71.0153 141.157 72.1576 140.225 73.4146C139.295 74.6821 138.492 75.8171 137.814 76.8195L136.265 71.8708Z" fill="white"/>
<path d="M137.83 84.7388C137.779 82.2182 138.286 80.3535 139.352 79.1448C140.428 77.9358 141.957 77.3132 143.939 77.2768C145.898 77.2408 147.44 77.8016 148.565 78.9591C149.689 80.1276 150.277 81.9777 150.329 84.5093C150.38 87.0519 149.867 88.9222 148.791 90.1201C147.714 91.3291 146.196 91.9516 144.237 91.9875C142.244 92.0241 140.691 91.4636 139.578 90.3058C138.464 89.1481 137.882 87.2924 137.83 84.7388ZM141.198 84.677C141.223 85.8987 141.472 86.775 141.945 87.3059C142.429 87.8365 143.167 88.0928 144.157 88.0746C145.126 88.0568 145.842 87.7739 146.304 87.2259C146.766 86.6778 146.985 85.7929 146.96 84.5711C146.936 83.3604 146.682 82.4897 146.197 81.959C145.713 81.4284 144.987 81.172 144.018 81.1897C143.038 81.2077 142.317 81.4907 141.855 82.0388C141.393 82.5868 141.174 83.4662 141.198 84.677Z" fill="white"/>
<path d="M139.939 97.1346C139.175 100.234 138.579 102.807 138.151 104.855C137.638 104.591 137.134 104.386 136.638 104.239C136.141 104.092 135.534 103.937 134.814 103.773L137.677 92.4882C139.737 93.0478 141.675 93.5342 143.489 93.9473C145.303 94.3605 147.262 94.7615 149.366 95.1504L148.376 99.0561L139.939 97.1346Z" fill="white"/>
<path d="M135.056 109.505C133.073 113.188 131.676 115.877 130.863 117.574C130.495 117.307 130.098 117.058 129.674 116.826C129.254 116.608 128.718 116.339 128.065 116.019L134.208 104.754C136.084 105.771 137.857 106.688 139.528 107.507C141.199 108.325 143.015 109.165 144.975 110.027L138.832 121.293L136.148 119.978L140.425 112.134L139.001 111.437C138.738 111.896 138.359 112.58 137.864 113.489C137.026 115.025 136.188 116.63 135.352 118.302L132.801 117.053C133.756 115.439 134.653 113.863 135.491 112.326C135.986 111.418 136.355 110.729 136.599 110.26L135.056 109.505Z" fill="white"/>
<path d="M126.91 134.296C125.547 133.034 124.057 131.714 122.439 130.336C120.814 128.951 119.266 127.683 117.797 126.533L121.864 122.242L131.478 125.19L124.41 119.558L127.33 116.478C128.895 117.927 130.386 119.255 131.802 120.462C133.21 121.661 134.757 122.921 136.444 124.242L132.262 128.652L122.449 125.557L129.694 131.361L126.91 134.296Z" fill="white"/>
<path d="M119.392 139.457C117.632 140.547 116.099 141.2 114.791 141.415C113.49 141.639 112.385 141.509 111.476 141.024C110.565 140.554 109.743 139.788 109.012 138.728C108.319 137.722 107.947 136.698 107.896 135.655C107.845 134.613 108.144 133.594 108.792 132.597C109.447 131.609 110.458 130.692 111.824 129.846C112.657 129.33 113.504 128.805 114.365 128.272C115.226 127.738 116.099 127.204 116.985 126.668C118.142 128.5 119.251 130.186 120.313 131.727C121.388 133.286 122.547 134.89 123.79 136.538C122.739 137.319 121.273 138.292 119.392 139.457ZM113.296 132.795C112.426 133.334 111.986 133.898 111.977 134.485C111.968 135.073 112.211 135.725 112.704 136.441C113.179 137.13 113.718 137.591 114.32 137.826C114.914 138.066 115.631 137.926 116.474 137.404C117.381 136.842 118.041 136.394 118.453 136.061L115.332 131.534L113.296 132.795Z" fill="white"/>
<path d="M96.32 136.444C97.1216 137.173 98.412 138.268 100.191 139.729L101.405 137.343L100.622 135.097L104.546 133.868C105.165 135.911 105.78 137.812 106.392 139.569C107.004 141.326 107.704 143.199 108.49 145.19L104.566 146.419L102.975 141.85C101.701 144.347 100.855 146.301 100.437 147.712L95.3315 149.311L98.6007 142.891C97.5103 142.102 96.2998 141.253 94.9693 140.344C93.6283 139.438 92.429 138.654 91.3716 137.994L96.32 136.444Z" fill="white"/>
<g filter="url(#filter0_g_1438_380)">
<path d="M61.9465 63.707L62.0734 67.3392M62.0734 67.3392L68.7222 65.4269C73.7255 63.9892 79.078 64.3888 83.8123 66.5534L84.0784 66.675C88.7171 68.7952 93.9521 69.2223 98.8731 67.8822L106.342 65.8467C105.721 74.3284 106.023 82.8525 107.242 91.2692L99.7634 93.305C94.8419 94.6465 89.6059 94.2203 84.9663 92.1004L84.7002 91.9788C79.9659 89.8141 74.6134 89.4146 69.6101 90.8523L62.9612 92.7646M62.0734 67.3392L62.9612 92.7646M63.4686 107.293L62.9612 92.7646" stroke="white" stroke-width="3.63441" stroke-linecap="round" stroke-linejoin="round"/>
</g>
<defs>
<filter id="filter0_g_1438_380" x="58.3122" y="60.0724" width="52.5643" height="50.8551" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
<feFlood flood-opacity="0" result="BackgroundImageFix"/>
<feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
<feTurbulence type="fractalNoise" baseFrequency="0.073372773826122284 0.073372773826122284" numOctaves="3" seed="3734" />
<feDisplacementMap in="shape" scale="3.634408712387085" xChannelSelector="R" yChannelSelector="G" result="displacedImage" width="100%" height="100%" />
<feMerge result="effect1_texture_1438_380">
<feMergeNode in="displacedImage"/>
</feMerge>
</filter>
<linearGradient id="paint0_linear_1438_380" x1="84.5" y1="0" x2="84.5" y2="169" gradientUnits="userSpaceOnUse">
<stop stop-color="#DB6200"/>
<stop offset="1" stop-color="#C74E00"/>
</linearGradient>
</defs>
</svg> -->
    </div>
  
    

    <!-- Højre indhold -->
    <div class="content">
      <h2>Kommende møder</h2>

      <ul class="list">
        {meetings.map((m) => (
          <li class="item">
            <span class="date">
              <span class="icon"> <svg width="15" height="17" viewBox="0 0 15 17" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M13.75 1.25H11.875V0.625C11.875 0.45924 11.8092 0.300268 11.6919 0.183058C11.5747 0.065848 11.4158 0 11.25 0C11.0842 0 10.9253 0.065848 10.8081 0.183058C10.6908 0.300268 10.625 0.45924 10.625 0.625V1.25H4.375V0.625C4.375 0.45924 4.30915 0.300268 4.19194 0.183058C4.07473 0.065848 3.91576 0 3.75 0C3.58424 0 3.42527 0.065848 3.30806 0.183058C3.19085 0.300268 3.125 0.45924 3.125 0.625V1.25H1.25C0.918479 1.25 0.600537 1.3817 0.366116 1.61612C0.131696 1.85054 0 2.16848 0 2.5V15C0 15.3315 0.131696 15.6495 0.366116 15.8839C0.600537 16.1183 0.918479 16.25 1.25 16.25H13.75C14.0815 16.25 14.3995 16.1183 14.6339 15.8839C14.8683 15.6495 15 15.3315 15 15V2.5C15 2.16848 14.8683 1.85054 14.6339 1.61612C14.3995 1.3817 14.0815 1.25 13.75 1.25ZM4.0625 13.125C3.87708 13.125 3.69582 13.07 3.54165 12.967C3.38748 12.864 3.26732 12.7176 3.19636 12.5463C3.12541 12.375 3.10684 12.1865 3.14301 12.0046C3.17919 11.8227 3.26848 11.6557 3.39959 11.5246C3.5307 11.3935 3.69775 11.3042 3.8796 11.268C4.06146 11.2318 4.24996 11.2504 4.42127 11.3214C4.59257 11.3923 4.73899 11.5125 4.842 11.6667C4.94502 11.8208 5 12.0021 5 12.1875C5 12.4361 4.90123 12.6746 4.72541 12.8504C4.5496 13.0262 4.31114 13.125 4.0625 13.125ZM7.5 13.125C7.31458 13.125 7.13332 13.07 6.97915 12.967C6.82498 12.864 6.70482 12.7176 6.63386 12.5463C6.56291 12.375 6.54434 12.1865 6.58051 12.0046C6.61669 11.8227 6.70598 11.6557 6.83709 11.5246C6.9682 11.3935 7.13525 11.3042 7.3171 11.268C7.49896 11.2318 7.68746 11.2504 7.85877 11.3214C8.03007 11.3923 8.17649 11.5125 8.2795 11.6667C8.38252 11.8208 8.4375 12.0021 8.4375 12.1875C8.4375 12.4361 8.33873 12.6746 8.16291 12.8504C7.9871 13.0262 7.74864 13.125 7.5 13.125ZM7.5 10C7.31458 10 7.13332 9.94502 6.97915 9.842C6.82498 9.73899 6.70482 9.59257 6.63386 9.42126C6.56291 9.24996 6.54434 9.06146 6.58051 8.8796C6.61669 8.69775 6.70598 8.5307 6.83709 8.39959C6.9682 8.26848 7.13525 8.17919 7.3171 8.14301C7.49896 8.10684 7.68746 8.12541 7.85877 8.19636C8.03007 8.26732 8.17649 8.38748 8.2795 8.54165C8.38252 8.69582 8.4375 8.87708 8.4375 9.0625C8.4375 9.31114 8.33873 9.5496 8.16291 9.72541C7.9871 9.90123 7.74864 10 7.5 10ZM10.9375 13.125C10.7521 13.125 10.5708 13.07 10.4167 12.967C10.2625 12.864 10.1423 12.7176 10.0714 12.5463C10.0004 12.375 9.98184 12.1865 10.018 12.0046C10.0542 11.8227 10.1435 11.6557 10.2746 11.5246C10.4057 11.3935 10.5727 11.3042 10.7546 11.268C10.9365 11.2318 11.125 11.2504 11.2963 11.3214C11.4676 11.3923 11.614 11.5125 11.717 11.6667C11.82 11.8208 11.875 12.0021 11.875 12.1875C11.875 12.4361 11.7762 12.6746 11.6004 12.8504C11.4246 13.0262 11.1861 13.125 10.9375 13.125ZM10.9375 10C10.7521 10 10.5708 9.94502 10.4167 9.842C10.2625 9.73899 10.1423 9.59257 10.0714 9.42126C10.0004 9.24996 9.98184 9.06146 10.018 8.8796C10.0542 8.69775 10.1435 8.5307 10.2746 8.39959C10.4057 8.26848 10.5727 8.17919 10.7546 8.14301C10.9365 8.10684 11.125 8.12541 11.2963 8.19636C11.4676 8.26732 11.614 8.38748 11.717 8.54165C11.82 8.69582 11.875 8.87708 11.875 9.0625C11.875 9.31114 11.7762 9.5496 11.6004 9.72541C11.4246 9.90123 11.1861 10 10.9375 10ZM13.75 5H1.25V2.5H3.125V3.125C3.125 3.29076 3.19085 3.44973 3.30806 3.56694C3.42527 3.68415 3.58424 3.75 3.75 3.75C3.91576 3.75 4.07473 3.68415 4.19194 3.56694C4.30915 3.44973 4.375 3.29076 4.375 3.125V2.5H10.625V3.125C10.625 3.29076 10.6908 3.44973 10.8081 3.56694C10.9253 3.68415 11.0842 3.75 11.25 3.75C11.4158 3.75 11.5747 3.68415 11.6919 3.56694C11.8092 3.44973 11.875 3.29076 11.875 3.125V2.5H13.75V5Z" fill="#CE5501"/>
</svg>
 </span>
              {m.date}
            </span>
            <span class="time">{m.time}</span>
          </li>
        ))}
      </ul>
    </div>

  </div>
</section>

<style>
  .wrapper {
    background: #F8E6D9;
    padding: 160px 40px;
  }

  .grid {
    max-width: 1100px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 60px;
    align-items: center;
  }

  .image img {
    width: 600px;
    display: block;
    margin-right: -20px;
  }
  .badge {
  position: absolute;
  top: 1550px;
  left: 240px;
  width: 160px;
  rotate: -20deg;
}

  .content h2 {
    font-size: 40px;
    margin-bottom: 30px;
    font-family: var(--font-primary);
    text-align: center;
    letter-spacing: 1px;
  }

  .list {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 14px 0;
    border-bottom: 2px dotted #e48a4d;
    font-size: 0.95rem;
  }

  .date {
    display: flex;
    align-items: center;
    gap: 10px;
    font-family: var(--font-secondary);
};
    font-weight: 600;
  

  .icon {
    color: #e48a4d;
  }

  .time {
    font-family: var(--font-secondary);
    font-weight: 600;
  }

  @media (max-width: 800px) {
    .grid {
      grid-template-columns: 1fr;
    }
  }
</style>
