---
import Button from '../components/Button.astro';
---

<nav>
			<a href="/">Logo</a>
			<a href="">Rejsekalender</a>
			<a href="">Højskoleophold</a>
			<a href="">Sommerhøjskole</a>
			<a href="">Priser</a>
			<a href="">Om os</a>
			<a href="">Kontakt os</a>
			<Button title="Bestil ophold" variant="primary"/>



			

		</nav>