---
import Button from '../components/Button.astro';
import "../css/nav.css";
---

<section class="nav_flex">
	
		<a href="/"><img class="hojskolenlogo" src="/assetslogo.svg" alt="Højskolendk logo"></a>
			
			

			<nav class="nav_a">
			<a href="">Rejsekalender</a>
			<a href="">Højskoleophold</a>
			<a href="">Sommerhøjskole</a>
			<a href="">Priser</a>
			<a href="">Om os</a>
			<a href="">Kontakt os</a>
			</nav>

			<div>
			<Button title="Bestil ophold" variant="primary"/>
			</div>



			

		</section>