.some_icon {
  width: 1.3rem;
  height: 1.3rem;
}

.header_flex_3 {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: space-between;
  padding: 0.8rem 3rem;
}

.header_flex_3-2 {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
}

.header_flex_icons {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.header_icon-text {
  display: flex;
  flex-direction: row;
  gap: 0.3rem;
  align-items: center;

  img {
    width: 1.2rem;
    height: 1.2rem;
  }

  span {
    font-size: 0.9rem;
    font-weight: 600;
  }
}
