* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

body {
  max-width: 1200px;
  margin: 0 auto;
  background-color: var(--color-bg-primary);
}

header {
  background-color: var(--color-bg-tertirary);
}
