.hojskolenlogo {
  height: 25px;
}

.nav_flex {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0.6rem 3.8rem;
}

a {
  text-decoration: none;
  color: var(--color-text-secondary);
  font-weight: 600;
  font-family: var(--font-secondary);
  font-size: 0.9rem;
  letter-spacing: 0.28px;
}

.nav_a {
  display: flex;
  flex-direction: row;
  gap: 1.8rem;
}

nav {
  background-color: var(--color-bg-primary);
  position: sticky;
  z-index: 1000;
  top: 0;
}
